
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <style type="text/css">
        body {
            margin: 0;
            height: 100%;
            overflow: hidden;
        }

        .col-md-12 {
            margin-top: 200px;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="col-md-12">
            <center><img class="logo" src="~/rs.png" width="200" length="100"></center>
            <br>
            <center><h1>  Welcome to Zero Hunger Website !</h1></center>
        </div>
   
</body>
</html>
